@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Nixie+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@layer base {
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
.html{
  font-family: Poppins;
}
.content-div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.content-div:hover{
  background-image: linear-gradient(
    to right,
    rgb(252, 209, 209)
    rgb(174, 225, 225)
  ); 
}